# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
#cmake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
#idea
.idea/workspace.xml
.idea/misc.xml
*.xml
.vscode/launch.json
.vscode/settings.json
source/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-7688b3b6d3106584a185.json
source/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-f32bb264cf1727111bef.json
source/cmake-build-debug/.cmake/api/v1/reply/index-2022-01-03T01-28-32-0448.json
source/cmake-build-debug/.cmake/api/v1/reply/index-2022-01-03T02-41-46-0261.json
source/cmake-build-debug/.ninja_deps
source/cmake-build-debug/.ninja_log
source/cmake-build-debug/build.ninja
source/cmake-build-debug/CMakeFiles/clion-log.txt
source/cmake-build-debug/Testing/Temporary/LastTest.log
.idea/textanal.iml
source/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-f32bb264cf1727111bef.json
source/cmake-build-debug/.cmake/api/v1/reply/index-2022-01-03T01-28-32-0448.json
source/cmake-build-debug/.ninja_deps
source/cmake-build-debug/.ninja_log
source/cmake-build-debug/build.ninja
source/cmake-build-debug/CMakeFiles/clion-log.txt
source/cmake-build-debug/Testing/Temporary/LastTest.log
